body{
  background:black;
}
.not-scaling {
  touch-action: none;  /* 禁止移动端的双指缩放 */
  pointer-events: none;  /* 禁止鼠标事件 */
}

.not-scaling * {
  pointer-events: all;  /* 除根元素外，其他元素恢复鼠标事件 */
}
.node {
    cursor: pointer;
  }

  .overlay{
      /*background-color:black;*/
  }
   
  .node circle {
    fill: #fff;
    stroke: white;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
    fill:black;
    letter-spacing:.3em;
    
  }


   
  .link {
    fill: none;
    stroke: #7950AD;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    /*stroke: red;*/
    stroke: #FFCCCC;
    stroke-width: 3px;
  }

/*表示具有类名 ghostCircle 并且还有类名 show 的元素。*/
  .ghostCircle.show{
      display:block;
  }
/*表示具有类名 ghostCircle 的元素，或者它是具有 ghostCircle 类，且是 .activeDrag 类的后代元素的元素*/
/*在选择器中使用逗号可以将多个选择器组合在一起，表示选择这些选择器所对应的所有元素。*/
/*在选择器中使用空格表示选择某个元素的后代元素*/
/*例如，.activeDrag .ghostCircle 表示选择具有 .ghostCircle 类的元素，但仅当它是 .activeDrag 类的后代元素时才生效。*/
  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }