body{
  background:black;
} 
.node {
    cursor: pointer;
  }

  .overlay{
    /*transform: rotate(90deg);*/
    /*-webkit-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/

      /*background-color:black;*/
  }
   
  .node circle {
    fill: #fff;
    stroke: white;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
    fill:black;
    letter-spacing:.3em;
    
  }


   
  .link {
    fill: none;
    stroke: #7950AD;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }